@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 100 50% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;


    }

    .dark {
        /*--background: 224 21% 20%;*/
        --background: 224 21% 0%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 17 100% 64%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 224 21% 20%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {

    main {
        height: 100vh;
        /*height: -webkit-fill-available;*/
        height: var(--app-height);
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    ol {
        list-style-type: upper-roman;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
}


/* 参考：使用CSS实现渐变圆角边框的效果_CSS教程_CSS_网页制作_脚本之家, https://www.jb51.net/css/906031.html */
.gradient-border {
    /*padding: 2px 4px;*/
    cursor: pointer;
    position: relative;
}

.gradient-border::before { /* 1 */
    display: block;
    content: '';
    /* 只能在伪类里加 */
    border-radius: 30px;
    border: 2px solid transparent;
    background: linear-gradient(90deg, orangered, yellow) border-box; /* 2 */
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); /* 3 */
    -webkit-mask-composite: xor; /* 4 */
    mask-composite: exclude;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gradient-text {
    background: -webkit-linear-gradient(0deg, orangered, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*原文链接：https://blog.csdn.net/hdp134793/article/details/132586294*/


.son4 {
    /* 左上角飘带 */
    /*background-color: #1890FF;*/
    /* 左上角飘带的背景颜色 */
    overflow: hidden;
    white-space: nowrap;
    /* 文字不换行*/
    position: absolute;
    /* 绝对定位 */
    right: -45px;
    top: 20px;
    transform: rotate(45deg);
    /* 旋转45°*/
    box-shadow: 0 0 10px #888;
    /* 飘带的阴影*/
}

.son4 span {
    /*border: 1px solid #1890FF;*/
    color: #fff;
    display: block;
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 5px 50px;
    text-align: center;
    text-shadow: 0 0 5px #444;
}
